#configform
  %h3 Backbone config
  %textarea(class="largearea" readonly="readonly")= @backbone_config
  %h3 CPE config
  %textarea(class="largearea" readonly="readonly")= @cpe_config
  %a(href="/")Back to front page
