#subnav
  %ul
    %li
      %a(href="/admin/scheduling") Manage deleted tests
    %li
      %a(href="/admin/templates") Manage deleted templates
    %li
      %a(href="/admin/forms") Manage deleted forms
    %li
      %a(href="/admin/external") Manage external reports
    %li
      %a(href="/admin/reports") Manage report templates
